<ul class="nav">
    <li class="nav-item">
        <a class="nav-link news" (click)="navigationService.goToNewsList()">News</a>
    </li>
    <li class="nav-item" *ngIf="appContext.loginUser!==''">
        <a class="nav-link post-article" (click)="navigationService.goToPostArticle()">Post article</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link login" *ngIf="appContext.loginUser ===''" (click)="navigationService.goToLogin()">Login</a>
        <a class="nav-link login" *ngIf="appContext.loginUser !==''" (click)="navigationService.logout()">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link signup" (click)="navigationService.goToSignUp()">Sign up</a>
    </li>  
</ul>
<div *ngIf="appContext.loginUser!==''" class="d-flex mr-3 justify-content-end">
    <span class="welcome">
        Welcome {{appContext.loginUser}}
    </span>
</div>

