<div class="content">
  <ng-container #list *ngIf="!isLoading ; else loading">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col" class="col col-2">Text</th>
          <th scope="col" class="col col-2">Url</th>
          <th scope="col">Score</th>
          <th scope="col">By</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of items; let idx = index; trackBy: trackByArticle;" (click)="gotoArticle(item)">
            <th scope="row">{{idx + 1}}</th>
            <td class="d-flex flex-column">
              <span>{{item.title}}</span>
              <ng-container *ngIf="item.commentCount===1;else pluralComments">
                <span class="article-details-info justify-content-end align-items-end">
                  {{item.type}} | {{item.commentCount}} comment
                </span>
              </ng-container>
              <ng-template #pluralComments>
                <span class="article-details-info justify-content-end align-items-end">
                  {{item.type}} | {{item.commentCount}} comments
                </span>
              </ng-template>
            </td>
            <td class="col col-2">
              {{item.text}}
            </td>
            <td class="col col-2">{{item.url}}</td>
              <ng-container *ngIf="item.score===1;else plural">
                <td>{{item.score}} point</td>
              </ng-container>
              <ng-template #plural>
                <td>{{item.score}} points</td>
              </ng-template>
            <td>{{item.by}}</td>
            <td>{{item.dateTime}}</td>
          </tr>
        </tbody>
    </table>
    <span class="error">{{errorMessage}}</span>
    <span class="loader" *ngIf="loadingRow"></span>
    <button *ngIf="items.length && newslistService.pageTotal > 0 && currentPage < newslistService.pageTotal" class="btn btn-lg btn-primary" (click)="loadNextPage()">view more</button>
  </ng-container> 
  <ng-template #loading>
    <div class="loader justify-content-center align-items-center"></div>
  </ng-template>
</div>