tbody>tr {
    cursor: pointer;
}

.article-details-info {
    font-size: 11px;
    display: flex;
}

.loader {
    display: flex;
    height: 580px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: gray transparent gray transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  