<div class="content">
    <div class="error">
        <p>{{errorMessage}}</p>
    </div>
    <form class="form-user">
        <h1 class="h3 mb-3 font-weight-bold">Log in</h1>
        <input type="text" id="email" class="form-control mb-2" name="email" placeholder="email" [(ngModel)]="email">
        <input type="password" id="password" class="form-control mb-2" name="password" placeholder="password" [(ngModel)]="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Log in</button>
    </form>
</div>


