<div class="content">
    <div class="error">
        <p>{{errorMessage}}</p>
    </div>
    <form class="form-user">
        <h1 class="h3 mb-3 font-weight-bold">Sign up</h1>
        <input type="email" required id="email" class="form-control mb-2" name="email" placeholder="email" [(ngModel)]="user.email">
        <input type="password" required id="password" class="form-control mb-2" name="password" placeholder="password" [(ngModel)]="user.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onSubmit()" name="signupButton">Sign up</button>
    </form>
</div>

