@import 'node_modules/bootstrap/scss/bootstrap';
/*******************/

.content {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.error {
    color: red;
}

.form-user {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
