<div class="content">
    <form>
        <h1 class="h3 mb-3 font-weight-bold">Add new article</h1>
        <input type="text" id="articleId" class="form-control mb-2" name="articleId" placeholder="article id" [(ngModel)]="articleId">
        <input type="text" id="title" class="form-control mb-2" name="title" placeholder="article title" [(ngModel)]="articleTitle">
        <select name="articleType" id="articleType" [(ngModel)]="articleType" class="form-control mb-2">
            <option *ngFor="let item of types; trackBy: trackByType;" [value]="item">{{item}}</option>
        </select>
        <input type="text" id="url" class="form-control mb-2" name="url" placeholder="article url" [(ngModel)]="articleUrl">
        <input type="text" id="score" class="form-control mb-2" name="url" placeholder="article score" [(ngModel)]="articleScore">
        <button class="btn btn-lg btn-primary" type="submit" (click)="addArticle()">Add</button>
    </form>
</div>